@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@layer components {
  .main-content {
    @apply w-full h-full flex flex-col justify-center items-center gap-3.5 bg-amber-50;
  }

  .mimiplayer-icon {
    @apply bg-amber-300 p-4 rounded-full text-black;
  }

  .controls-icon {
    @apply bg-amber-300 p-3 rounded-full text-black hover:cursor-pointer;
  }

  .range-audio {
    @apply w-full appearance-none accent-amber-300  bg-transparent;
  }

  .range-audio::-webkit-slider-runnable-track {
    @apply h-1 rounded bg-gray-300;
  }

  .range-audio::-moz-range-track {
    @apply h-1 rounded bg-gray-300;
  }

  .range-audio::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply w-3 h-3 rounded-full bg-amber-400 cursor-pointer;
    margin-top: -3px;
  }

  .range-audio::-moz-range-thumb {
    @apply w-3 h-3 rounded-full bg-amber-400 border-none cursor-pointer;
  }
}
